<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8130781097-ld743lmathet3jkhshptr72rqavr46am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8130781097-ld743lmathet3jkhshptr72rqavr46am</string>
	<key>API_KEY</key>
	<string>AIzaSyBDPi7FQi-9Rf7hLn0Y9_Pj21Rdmm6qWaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>8130781097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protofood</string>
	<key>PROJECT_ID</key>
	<string>protofood-vijisaxe</string>
	<key>STORAGE_BUCKET</key>
	<string>protofood-vijisaxe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8130781097:ios:483243c20ea34f96d92eb8</string>
</dict>
</plist>